.promotion-cont{
  margin: 3% 1%;
}
.promotion-title{
  color: #B76FFF;
  font-size: 1.2em;
  font-weight: 550;
}
.promotion-profession{
  color: #696969;
  font-size: 1.04em;
}
.promotion-desc{
  color: #696969;
  font-size: 1.1em;
  font-weight: 500;
}
.rating{
  color: #B76FFF;
}