@media screen and (max-width: 1000px) {
  .post-navbar{
    display: none;
  }
  .post-feed{
    margin: 4% 2% 3% 9%;
    order:2;
  }
  .create-event{
    order:1;
    position: relative;
    left: 10%;
  }
}
@media screen and (max-width: 600px) {
  .feed-page{
    display: table;
    width: 100%;
  }
  .post-feed{
    width: 80%;    
  }
  .create-event{
    width: 80%;
    margin-left: 2%;
    /* position: relative;
    left: 12%; */
  }
}