.landing-head{
  background: linear-gradient(to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.6));
  border-radius: 1.8rem 1.8rem 0 0;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-bottom: 0%;
}
.landing-bottom{
  background-color: #ffffff;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.5));
  border-radius: 1.8rem;
}
.app-container{
  background-color: #ffffff;
  background: linear-gradient(to bottom right, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
  border-radius: 2rem;
  padding: 4% 2% 3% 6%;
  margin-bottom: 5%;
}
.app{
  display: inline-block;
  color: #2e2e2e;
}
@media screen and (max-width: 580px) {
  .landing-cont{
    padding: 8%;
  }
}
@media screen and (max-width: 1000px) {
  .app-container{
    text-align: center;
  }
}